@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --deep-green: #004225;
  --soft-beige: #f4f1ee;
  --white: #ffffff;
  --dark-gray: #333333;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-aligh: center;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar nav ul li {
  margin: 0 15px; /* Adjust as needed */
  font-size: 26px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

